@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-base: 'Neuton', serif;
    --font-alt: 'Open Sans', sans-serif;
    
    --color-black: hsl(180, 75%, 1%);
    --color-red: hsl(0, 70%, 50%);
    --color-rose: hsl(0, 50%, 85%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 80%);
    --color-transparent: transparent;
  
    --max-lines: 4;
    --line-height: 1.4;
  }
  
 